body {
  background-color: #3d087b;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.parent-container{
  display: flex;
  flex-direction: row;
}
.container{
  height: fit-content;
  width: 50%;
  /* background-color: violet; */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
.container2{
  height: fit-content;
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.clock {
  position: absolute;
  top: 34px;
  left: 124px;
  width: 204px;
}
.routinebox {
display: flex;
flex-direction: column;
row-gap: 3px;
height: fit-content;
width: 80%;
border-radius: 10px;
padding: 10px 0px 10px 0px;
background-color: white;

}
.wakeup {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 34px;
  height: 34px;
}
.txt {
  position: absolute;
  left: 90px;
  font-weight: 600;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* color: #3D087B; */
}
.box-content{
display: flex;
height: fit-content;
width: 100%;
flex-direction: row;
justify-content:space-around;
align-items:center
}
.dropdown-grid{
  width: 150px;
  /* background-color: #f1a7c5; */
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.ruler {
  width: 0px;
  height: 33px;
  border: 0.5px solid #c2c2c2;
  position: relative;
  left: 45px;
  top: 0px;
}
.lunch {
  position: absolute;
  top: 90px;
  left: 30px;
}
.txt1 {
  position: absolute;
  left: 90px;
  top: 80px;
  font-weight: 600;
}
.dropdown1 {
  position: absolute;
  left: 192%;
  height: 30px;
  width: 250px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 0px;
  border: 1px solid #ededed;
  color: #3d087bde;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ruler2 {
  width: 0px;
  height: 33px;
  border: 0.5px solid #c2c2c2;
  position: absolute;
  left: 45px;
  top: 140px;
}
.nap {
  position: absolute;
  top: 190px;
  left: 30px;
}
.nap2 {
  position: relative;
  top: 290px;
  left: 30px;
}
.txt2 {
  position: absolute;
  left: 90px;
  top: 180px;
  font-weight: 600;
}
.dropdown2 {
  position: absolute;
  left: 231%;
  height: 30px;
  width: 250px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 0px;
  border: 1px solid #ededed;
  color: #3d087bde;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ruler3 {
  width: 0px;
  height: 33px;
  border: 0.5px solid #c2c2c2;
  position: absolute;
  left: 45px;
  top: 240px;
}
.txt3 {
  position: absolute;
  left: 90px;
  top: 280px;
  font-weight: 600;
}
.dropdown3 {
  position: absolute;
  left: 195%;
  height: 30px;
  width: 250px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 0px;
  border: 1px solid #ededed;
  color: #3d087bde;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.textbox {
  /* position: absolute;
  top: 520px;
  left: 120px; */
  width: 566px;
  height: 77px;
  border: 1px solid var(--unnamed-color-ededed);
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 10px;
  opacity: 0.23;
}
#wishtext {
  font-family: "Bungee Shade", cursive;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  color: black;
  font-weight: 800;
  /* position: absolute;
  top: 520px;
  left: 120px; */
}
.alarm-box{
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

#sa {
  /* position: absolute;
  top: 624px;
  left: 124px; */
  width: 299px;
  height: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-family: bauhaus;
  color: white;
  background-image: linear-gradient(
    to right,
    #6e54ec,
    #fc5eff,
    #fc5eff,
    #f1a7c5
  );
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  border: none;
}
#sa {
  font-size: 22px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#sa:hover {
  background-image: linear-gradient(
    to right,
    #f1a7c5,
    #fc5eff,
    #fc5eff,
    #6e54ec
  );
}
#sa:hover span {
  display: none;
}
#sa:hover::before {
  content: "Party Time!";
  font-size: 22px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.routinetxt {
  /* position: relative;
  top: 615px;
  left: 437px; */
  width:30%;
  height: fit-content;
  border: 1px solid #ededed;
  border-radius: 10px;
  /* box-sizing: border-box; */
  padding: 5px;
  background: #ffffff;
  /* z-index: 0; */
  opacity: .8;
}
.rtxt {
  /* position: relative;
  top: 522px;
  left: 450px; */
  z-index: 1;
  color: #fc5eff;
}
#sidebox {
  font-weight: bold;
  /* position: absolute;
  top: 212px;
  left: 706px; */
  width: 90%;
  height: 118px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ededed;
  text-align: center;
  font-size: 30px;
  box-sizing: border-box;
  padding: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #8e53f0;
}
.sideimage {
  /* position: absolute;
  top: 345px;
  left: 707px; */
  width: 100%;
  height: 341px;
  background-color: white;
  border-radius: 10px;
}
.timebox {
  /* position: absolute;
  top: 42px;
  left: 706px; */
  width: 90%;
  height: 130px;
  border: 1px solid #ededed;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.time-data{
  display: flex;
  flex-direction: row;
  color: red;
}
/* .hourbox{
position: relative;
background-color: red;
top: 62px;
left: 823px;
width: 80px;
height: 90px;

} */
.timeline1 {
  position: relative;
  left: 20%;
  top: 15%;
}
.timeline2 {
  position: relative;
  left: 20%;
  top: 15%;
  margin-left: 10px;
}
.timetxt {
  font-weight: 600;
  /* position: absolute;
  top: 25%;
  left: 31%; */
  height: 70px;
  width: 93px;
  background-color: rgb(246,226,255);
  text-align: center;
  color: #8a11bf;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.pmtxt{
  background-color:#bd52f6;
  height: 5%;
  width: 5%;
  color: red;
}
.timetxt2 {
  font-weight: 600;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 49%;
  color: #8a11bf;
  font-size: 25px;
}
.timetxt3 {
  font-weight: 600;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 67%;
  color: #8a11bf;
  font-size: 25px;
}
.time {
  /* position: relative;
  bottom: 16px;
  left: 52px; */
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #3d087b;
  text-transform: uppercase;
}
.symbol {
  /* position: absolute;
  top: 40px;
  left: 238px; */
  color: red;
  font-size: 35px;
  color: #3d087b;
}
.symbol2 {
  /* position: absolute;
  top: 40px;
  left: 332px; */
  color: red;
  font-size: 35px;
  color: #3d087b;
}
.pmbox {
  position: relative;
  left: 115px;
  top: 19px;
}
.pmtxt {
  font-weight: 400;
  /* position: relative;
  left: 50px;
  bottom: 15px; */
  font-size: 30px;
  color: purple;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
select {

  border-radius: 10px;
}

/* Media Query */
@media (min-width: 393px) and (max-width: 500px) {
  .clock {
    position: absolute;
    top: 34px;
    left: 120px;
    width: 150px;
  }
  .parent-container{
    display: flex;
    flex-direction: column;
  }

  .textbox{
    width: 95%;

  }
  .routinetxt{
    width: 70%;
    text-align: center;
  }
  .alarm-box{
flex-direction: column;
align-items: center;
row-gap: 5px;
  }
.container{
width: 100%;
row-gap: 5px;
}


.container2{
  width: 100%;
}
#sidebox{
  width: 100%;
  font-size: 25px;
  padding: 5%;
}
.timebox{
  width: 100%;
}
.routinebox{
  width: 95%;
  margin: auto;
}
#image{
  /* border: 5px solid white; */
  width: 100%;
}
.ruler{
  position: relative;
  top: 0%;
  left: 7%;
}
}

@media (min-width:501px) and (max-width:1180px){
  .parent-container{
    display: flex;
    flex-direction: column;
  }

  .textbox{
    width: 95%;

  }
  .routinetxt{
    width: 70%;
    text-align: center;
  }
  .alarm-box{
flex-direction: column;
align-items: center;
row-gap: 5px;
  }
.container{
width: 100%;
row-gap: 5px;
}


.container2{
  width: 100%;
}
#sidebox{
  width: 100%;
  font-size: 25px;
  padding: 5%;
}
.timebox{
  width: 100%;
}
.routinebox{
  width: 95%;
  margin: auto;
}
#image{
  /* border: 5px solid white; */
  width: 100%;
}
.ruler{
  position: relative;
  top: 0%;
  left: 10%;
}
}